.formRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--gutter);
}

.formRow label, .formRow textarea, .formRow input, .formRow button {
  flex: 1 1 250px;
}

@media(min-width: 540px) {
  .formRow {
    align-items: center
  }
  .formRow button {
    margin-left: auto;
    flex: 0 1 auto;
  }
}
