:root {
  --color-grey-dark: #333;
  --color-white: #fff;
  --color-hotpink: hotpink;
  --color-pink: pink;
  /* Colors */
  --color-text: var(--color-grey-dark);
  --color-primary: var(--color-hotpink);
  --color-secondary: var(--color-pink);
  --color-tertiary: var(--color-white);
  --color-bg-mask: rgba(0, 0, 0, .2);
  /* Spacing */
  --gutter: 2rem;
  /* Styles */
  --border: solid 3px var(--color-text);
  --border-focus: solid 3px var(--color-primary);
}

* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: inherit;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
  margin: 0;
  padding: 0;
  color: var(--color-text);
  background-color: var(--color-secondary);
}

h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
}
